.App {
  text-align: center;
}

.banner {
  height: auto;
  padding: 5px;
  background-color: #000000;
}

.banner h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  color: #FFFFFF;
  padding-top: 30px;
}

.banner h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #FFFFFF;
}

.content {
  background-image:url(./img/deepspace.jpg);
  height: 1000px;
  padding: 5px;
}
